@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Godo';
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
  }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #262626;}
body{
    font-family: 'Godo';
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2e2e2e;
    min-width: 1320px;
}

/*header*/
#header.header-scrolled {
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
  }
#header{
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
}
.login{
    width: 1320px;
    margin: 0 auto;
    font-size: 12px;
    height: 10px;
}
.login ul{
    float: right;
    padding-right: 40px;
}
.login ul li{
    float: left;
    margin-left: 10px;
}
.header_inner{
    height: 60px;
    width: 1320px;
    margin: 5px auto;
}
.logo{
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.nav{
    float: right;
}
.nav> li{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}
.nav> li> a{
    padding: 0 30px;
    display: block;
}
.nav> li:nth-child(5){
    margin-right: -100px;
}
.nav> li> a:hover{
    color: #a1b5e6;
}
.nav> li:hover .sub{
    display: block;
}
.sub{
    text-align: center;
    font-size: 16px;
    z-index: 995;
    position: absolute;
}
.sub5{
    left: 585px;
    top: -50px;
}
.sub1{
    left: 770px;
    top: -50px;
}
.sub2{
    left: 890px;
    top: -50px;
}
.sub3{
    left: 1028px;
    top: -50px;
}
.sub4{
    left: 1185px;
    top: -50px;
}
.sub li{
    margin-bottom: 10px;
}
.sub li a:hover{
    color: #a1b5e6;
}
.panel{
    padding: 60px 0;
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.28);
}
.mar{
    width: 1320px;
    margin: auto;
    position: relative;
}
/*header*/
#event_main{
    margin-top: 44px;
    background: url(../images/sub1/text_back03.jpg) repeat center;
    height: 257px;
    font-family: 'IBMPlexSansKR-Regular';
}
.event_text{
    width: 1320px;
    margin: 0 auto;
}
.main_p1{
    font-weight: 400;
    color: #fff;
    font-size: 44px;
    padding-top: 90px;
}
.main_p2{
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding-top: 30px;
}
/*footer*/
#footer{
    height: 280px;
    background-color: #474747;
}
.hr{
    border-bottom: 2px solid #707070;
}
.foot_inner{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    height: 135px;
}
.foot_inner ul{
    padding-top: 90px;
}
.foot_inner ul li{
    float: left;
    text-align: center;
    margin-right: 120px;
}
.foot_inner ul li:nth-child(7){
    margin-right: -20px;
}
.foot_inner ul li a{
    color: #adadad;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 14px;
}
.foot_logo{
    margin: 30px auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.foot_down{
    width: 1300px;
    margin: 0 auto;
}
.foot_text{
    float: left;
    margin-top: 20px;
    color: #adadad;
    font-size: 12px;
    font-family: 'IBMPlexSansKR-Regular';
}
.foot_sns{
    float: right;
    margin-top: 20px;
}
.foot_sns li{
    float: left;
    margin: 0 10px;
}
.foot_sns li:nth-child(4){
    padding-right: 10px;
}
/*footer*/
#about_top{
    background: url(../images/sub1/about_top.jpg) no-repeat center top;
    height: 789px;
    width: 100%;
    margin-top: 44px;
}
.about_top_text{
    width: 1320px;
    margin: 0 auto;
}
.big_blue{
    color: #233c6d;
}
.att1{
    font-size: 70px;
    line-height: 100px;
    font-family: 'IBMPlexSansKR-Light';
    margin: 175px 0 0 175px;
}
.att2{
    margin: 50px 0 0 175px;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 24px;
    line-height: 43px;
    font-weight: bold;
}
#about_middle{
    height: 720px;
}
.about_img{
    width: 1920px;
    position: relative;
    margin: 0 auto;
}
.about_img1{
    position: absolute;
    left: 0;
    top: 0;
}
.about_img2{
    position: absolute;
    top: 315px;
    right: 335px;
}
.about_middle_text{
    width: 1320px;
    margin: 0 auto;
}
.amt{
    font-family: 'IBMPlexSansKR-Regular';
    position: absolute;
    top: 70px;
    right: 405px;
    text-align: center;
    color: #192845;
}
.amt1{
    font-size: 72px;
}
.amt2{
    font-size: 50px;
    line-height: 36px;
}
.amt3{
    font-size: 50px;
    line-height: 72px;
}
.amt4{
    line-height: 90px;
}
.about_bot{
    width: 1320px;
    margin: 0 auto;
    height: 768px;
    position: relative;
}
.about_img3{
    position: absolute;
    z-index: 1;
    top: 84px;
    left: 140px;
}
.about_img4{
    position: absolute;
    z-index: 10;
    left: 475px;
    top: 364px;
}
.abt_top{
    position: absolute;
    left: 782px;
    top: 138px;
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: bold;
    color: #192845;
}
.abt1{
    font-size: 97px;
}
.abt_small{
    font-size: 60px;
}
.abt2{
    font-size: 20px;
    margin-top: 45px;
}
.abt_bot{
    font-family: 'IBMPlexSansKR-Regular';
    position: absolute;
    left: 900px;
    top: 360px;
    font-size: 16px;
    line-height: 28px;
}
#about_tour{
    width: 1320px;
    margin: 0 auto;
    height: 500px;
}
#about_tour div{
    width: 220px;
    float: left;
    margin-right: 50px;
    margin-top: 100px;
}
.tour_box1{
    margin-left: 160px;
}
.box_1{
    font-family: 'IBMPlexSansKR-Bold';
    font-size: 120px;
    color: #192845;
    font-weight: bold;
}
.box_2{
    font-family: 'IBMPlexSansKR-Bold';
    font-size: 20px;
    margin-top: 50px;
}
.box_3{
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    font-weight: bold;
}