@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Godo';
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
  }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #262626;}
body{
    font-family: 'Godo';
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2e2e2e;
    min-width: 1320px;
}

/*header*/
#header.header-scrolled {
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
  }
#header{
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
}
.login{
    width: 1320px;
    margin: 0 auto;
    font-size: 12px;
    height: 10px;
}
.login ul{
    float: right;
    padding-right: 40px;
}
.login ul li{
    float: left;
    margin-left: 10px;
}
.header_inner{
    height: 60px;
    width: 1320px;
    margin: 5px auto;
}
.logo{
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.nav{
    float: right;
}
.nav li{
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
}
.nav li:nth-child(5){
    margin-right: -100px;
}
.nav li a:hover{
    color: #a1b5e6;
}
.panel{
    padding: 100px 0;
    display: none;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 70px;
    left: 0;
}
/*header*/

/*footer*/
#footer{
    height: 250px;
    background-color: #474747;
}
.hr{
    border-bottom: 2px solid #707070;
}
.foot_inner{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    height: 135px;
}
.foot_inner ul{
    padding-top: 90px;
}
.foot_inner ul li{
    float: left;
    text-align: center;
    margin-right: 130px;
}
.foot_inner ul li:nth-child(7){
    margin-right: -20px;
}
.foot_inner ul li a{
    color: #adadad;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 14px;
}
.foot_logo{
    margin: 30px auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.foot_down{
    width: 1320px;
    margin: 0 auto;
}
.foot_text{
    float: left;
    margin-top: 20px;
    color: #adadad;
    font-size: 12px;
    font-family: 'IBMPlexSansKR-Regular';
}
.foot_sns{
    float: right;
    margin-top: 20px;
}
.foot_sns li{
    float: left;
    margin: 0 10px;
}
/*footer*/

#event_main{
    margin-top: 70px;
    background: url(../images/sub1/text_back.jpg) repeat center;
    height: 257px;
    font-family: 'IBMPlexSansKR-Regular';
}
.event_text{
    width: 1320px;
    margin: 0 auto;
}
.main_p1{
    font-weight: 400;
    color: #fff;
    font-size: 44px;
    padding-top: 90px;
}
.main_p2{
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding-top: 30px;
}
#event_list{
    margin: 0 auto;
    width: 1320px;
    height: 1070px;
}
#event_list h2{
    font-size: 30px;
    font-weight: 400;
    margin: 80px 0 10px 0;
    padding-bottom: 25px;
    border-bottom: 5px double #d7d7d7;
}
.banner{
    width: 1320px;
    height: 253px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.line{
    border-bottom: 2px solid #d7d7d7;
}
.banner_inner{
    width: 1140px;
    float: left;
    height: 253px;
}
.list_img{
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px dotted #e4e4e4;
}
.list1{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 42px;
}
.list2{
    font-size: 18px;
    margin-bottom: 42px;
    font-family: 'IBMPlexSansKR-Regular';
}
.list3{
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Regular';
}
.more{
    float: right;
    padding-top: 120px;
    margin-right: 70px;
}
.more a{
    background-color: #a1b5e6;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 24px;
}
.more a:hover{
    background-color: #1e3c6e;
}