@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Godo';
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('http://cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
  }

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #262626;}
body{
    font-family: 'Godo';
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2e2e2e;
    min-width: 1320px;
}

/*header*/
#header.header-scrolled {
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
  }
#header{
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
}
.login{
    width: 1320px;
    margin: 0 auto;
    font-size: 12px;
    height: 10px;
}
.login ul{
    float: right;
    padding-right: 40px;
}
.login ul li{
    float: left;
    margin-left: 10px;
}
.header_inner{
    height: 60px;
    width: 1320px;
    margin: 5px auto;
}
.logo{
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.nav{
    float: right;
}
.nav> li{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
}
.nav> li> a{
    padding: 0 30px;
    display: block;
}
.nav> li:nth-child(5){
    margin-right: -100px;
}
.nav> li> a:hover{
    color: #a1b5e6;
}
.nav> li:hover .sub{
    display: block;
}
.sub{
    text-align: center;
    font-size: 16px;
    z-index: 995;
    position: absolute;
}
.sub5{
    left: 585px;
    top: -50px;
}
.sub1{
    left: 770px;
    top: -50px;
}
.sub2{
    left: 890px;
    top: -50px;
}
.sub3{
    left: 1028px;
    top: -50px;
}
.sub4{
    left: 1185px;
    top: -50px;
}
.sub li{
    margin-bottom: 10px;
}
.sub li a:hover{
    color: #a1b5e6;
}
.panel{
    padding: 60px 0;
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.28);
}
.mar{
    width: 1320px;
    margin: auto;
    position: relative;
}
/*header*/

/*footer*/
#footer{
    height: 280px;
    background-color: #474747;
}
.hr{
    border-bottom: 2px solid #707070;
}
.foot_inner{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    height: 135px;
}
.foot_inner ul{
    padding-top: 90px;
}
.foot_inner ul li{
    float: left;
    text-align: center;
    margin-right: 120px;
}
.foot_inner ul li:nth-child(7){
    margin-right: -20px;
}
.foot_inner ul li a{
    color: #adadad;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 14px;
}
.foot_logo{
    margin: 30px auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
.foot_down{
    width: 1300px;
    margin: 0 auto;
}
.foot_text{
    float: left;
    margin-top: 20px;
    color: #adadad;
    font-size: 12px;
    font-family: 'IBMPlexSansKR-Regular';
}
.foot_sns{
    float: right;
    margin-top: 20px;
}
.foot_sns li{
    float: left;
    margin: 0 10px;
}
.foot_sns li:nth-child(4){
    padding-right: 10px;
}
/*footer*/

#event_main{
    margin-top: 70px;
    background: url(../images/sub1/text_back02.jpg) repeat center;
    height: 257px;
    font-family: 'IBMPlexSansKR-Regular';
}
.event_text{
    width: 1320px;
    margin: 0 auto;
}
.main_p1{
    font-weight: 400;
    color: #fff;
    font-size: 44px;
    padding-top: 90px;
}
.main_p2{
    font-weight: 100;
    color: #fff;
    font-size: 18px;
    padding-top: 30px;
}

#trip{
    width: 1320px;
    margin: 70px auto;
    height: 2700px;
}
.trip_top{
    height: 464px;
    width: 1320px;
    margin: 0 auto;
}
.img{
    float: left;
    margin-right: 45px;
}
.text_box{
    float: left;
    width: 493px;
}
.text_box p{
    font-family: 'IBMPlexSansKR-Regular';
}
.p1{
    font-size: 26px;
}
.p2{
    font-size: 13px;
    color: #838383;
    margin-bottom: 80px;
}
.p3{
    padding-bottom: 35px;
    border-bottom: 1px solid #969696;
}
.p4{
    margin-top: 35px;
}
.p5{
    font-size: 13px;
    margin-top: -8px;
}
.p6{
    text-align: right;
    margin-top: -40px;
    font-size: 32px;
}
.mini{
    font-size: 22px;
}
.p7{
    margin-top: 35px;
}
.jase{
    height: 65px;
    background-color: #73bed8;
    margin-top: 75px;
}
.jase p{
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 20px;
}
.trip_bot{
    width: 1318px;
    border: 1px solid #969696;
}
.trip_img{
    width: 1080px;
    margin: 90px auto;
}
.button{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 20px;
}
.return{
    padding: 10px 20px;
    border: 1px solid #acacac;
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 16px;
}